body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 195, 145);
}

.header{
    color:black;
    font-style: oblique;
    padding: 10px;
}

/*main  */
.wrapper{
    display: grid;
    grid-gap: 20px;
    justify-self: center;
    padding: 0px;
}

/*Diecast brand form  */
.form{
  margin-top: 50px;  
  /*background-color: rgb(251, 240, 255);*/
  padding: 15px;
  width: 200px;
  height: 300px;
  border-radius: 20px;
}

/*Footer*/
.footer{
    display: grid;
    position: fixed;
    justify-self: center;
    bottom: 0;
    padding: 20px;
    color:rgb(42, 54, 54);
}


@media (max-width: 769px)
  
        {
    .wrapper {
     

    }
 } 
